<a href="/bookmarks/new">Create Bookmark</a>


<!-- <a href="/bookmarks/search">Search</a> -->

<h3>Search by Category</h3>
<form action="/bookmarks/search/new" method="post">
<input type="text" name="search[category]" size="70" value="Search by category">
<button>Search</button>
</form>





<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%=bookmark.url%>" target="_blank"><%= bookmark.name %></a><br><br>
      <a href="/bookmarks/<%=bookmark.id%>/show">Show Details</a><br>
       <a href="/bookmarks/<%=bookmark.id%>/edit">Edit</a><br>
       <form action="/bookmarks/<%=bookmark.id%>/delete" method="post">
       <button>Delete</button></form><br>
    </li>
  <% end %>
</ul>