<section class="search"><h3>Results containing: '<%= params[:search]%>'</h3></section>

<ul class="bookmarks_table">
  <% @result.each do |bookmark| %>
  <li>
    <a href="<%=bookmark['url']%>" target="_blank" class="title"><%= bookmark['name'] %></a><br>
    <span class="url"><%= bookmark['url'].slice(0..30)%></span><br>
    <%= bookmark['category']%><br><br>
    <a href="/bookmarks/<%=bookmark['id']%>/edit">Edit</a>
    <form action="/bookmarks/<%=bookmark['id']%>/delete" method="post" class="delete">
     <button>Delete</button></form><br>
   </li>
   <%end%>
   </ul> 
 <section class="search">
  <a href="/bookmarks">Go Back</a>
  <br>
</section>